

article {
    margin: 50px;
    padding: 25px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(118, 118, 118, 0.112); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.078);
    color: $green;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
}